.certificado{
  background-image: url(../../../images/certificado.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: max-content;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 100px;
  overflow: hidden;
}

.certificado .Container{
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 60px;
}

@media (max-width: 697px) {
  .certificado{
    background-image: url(../../../images/certificado.png);
    padding-top: 20px;
    overflow: hidden;
  }
}
